SAVING FILE

In [2]:
import pandas as pd
data = """
OrderID,OrderDate,Customer,Segment,Region,Product,Category,SubCategory,Quantity,UnitPrice,Discount,Profit
CA-1001,2023-01-15,Ravi,Consumer,South,Laptop,Technology,Computers,1,55000,0.10,5000
CA-1002,2023-02-20,Priya,Corporate,North,Printer,Technology,Peripherals,2,12000,0.15,1800
CA-1003,2023-01-25,Amit,Consumer,East,Notebook,Office Supplies,Paper,3,200,0.05,150
CA-1004,2023-03-01,Anita,Home Office,West,Table,Furniture,Tables,1,18000,0.20,-1500
CA-1005,2023-02-05,Divya,Consumer,South,Phone,Technology,Phones,2,20000,0.00,3000
"""

with open('superstore.csv','w') as file:
  file.write(data)

df = pd.read_csv('superstore.csv')
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

Print schema, head, shape, dtypes.

In [8]:
print("SCHEMA: \n",df.columns.to_list())
print("HEAD: \n",df.head())
print("SHAPE: \n",df.shape)
print("DATATYPE: \n",df.dtypes)

SCHEMA:
 ['OrderID', 'OrderDate', 'Customer', 'Segment', 'Region', 'Product', 'Category', 'SubCategory', 'Quantity', 'UnitPrice', 'Discount', 'Profit']
HEAD:
    OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000
SHAPE:
 (5, 12)
DATATYPE:
 OrderID         object
OrderDate       object
Customer        object
Segment         object
Region          object
Product         object
Category        object
SubCategory     object
Quantity         int64
UnitPrice        int64
Discount       float64
Profit           int64
dtype: object

Select Customer , Product , Profit columns.

In [11]:
print(df[['Customer','Product','Profit']])

  Customer   Product  Profit
0     Ravi    Laptop    5000
1    Priya   Printer    1800
2     Amit  Notebook     150
3    Anita     Table   -1500
4    Divya     Phone    3000

Filter orders where Profit > 2000 and Discount = 0

In [13]:
print(df[(df['Profit']>2000)&(df['Discount']==0)])

   OrderID   OrderDate Customer   Segment Region Product    Category  \
4  CA-1005  2023-02-05    Divya  Consumer  South   Phone  Technology

  SubCategory  Quantity  UnitPrice  Discount  Profit
4      Phones         2      20000       0.0    3000

Sort by Profit descending.

In [14]:
print(df.sort_values(by='Profit',ascending=False))

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
4       Technology       Phones         2      20000      0.00    3000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500

GroupBy Category â†’ Total Profit, Avg Discount.

In [15]:
grouped = df.groupby('Category').agg(total_profit = ('Profit','sum'),avg_discount=('Discount','mean')).reset_index()
print(grouped)

          Category  total_profit  avg_discount
0        Furniture         -1500      0.200000
1  Office Supplies           150      0.050000
2       Technology          9800      0.083333

Add a column TotalPrice = Quantity * UnitPrice .

In [16]:
df['Total Price'] = df['Quantity'] * df['UnitPrice']
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit  \
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

   Total Price
0        55000
1        24000
2          600
3        18000
4        40000

Drop the SubCategory column.

In [17]:
df = df.drop(columns='SubCategory')
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  Quantity  UnitPrice  Discount  Profit  Total Price
0       Technology         1      55000      0.10    5000        55000
1       Technology         2      12000      0.15    1800        24000
2  Office Supplies         3        200      0.05     150          600
3        Furniture         1      18000      0.20   -1500        18000
4       Technology         2      20000      0.00    3000        40000

Fill nulls in Discount with 0.10.

In [19]:
import numpy as np

df['Discount'] = df['Discount'].replace(0.10,np.nan)
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  Quantity  UnitPrice  Discount  Profit  Total Price
0       Technology         1      55000       NaN    5000        55000
1       Technology         2      12000      0.15    1800        24000
2  Office Supplies         3        200      0.05     150          600
3        Furniture         1      18000      0.20   -1500        18000
4       Technology         2      20000      0.00    3000        40000

Apply a function to categorize orders:

In [20]:
def categorise(row):
  if row['Profit']>4000:
    return 'High'
  elif row['Profit']>0:
    return 'Medium'
  else:
    return'Low'

df['ProfitCategory'] = df.apply(categorise,axis =1)
print(df['ProfitCategory'])

0      High
1    Medium
2    Medium
3       Low
4    Medium
Name: ProfitCategory, dtype: object

#PYSPARK

Load the same CSV using PySpark.

In [21]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SuperStore').getOrCreate()

Show schema and first 5 rows.

In [23]:
df = spark.read.csv('superstore.csv',header=True,inferSchema=True)
df.printSchema()
df.show(5)

root
 |-- OrderID: string (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- Customer: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- SubCategory: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- UnitPrice: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: integer (nullable = true)

+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Customer|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1001|2023-01-15|    Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|
|CA-1002|2023-02-20|   Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|
|CA-1003|2023-01-25|    Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
|CA-1004|2023-03-01|   Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|
|CA-1005|2023-02-05|   Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|
+-------+----------+--------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+

Select columns, Rename Customer â†’ Client .

In [25]:
df = df.withColumnRenamed('Customer','Client')
df.show()

+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Client|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1001|2023-01-15|  Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|
|CA-1002|2023-02-20| Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|
|CA-1003|2023-01-25|  Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
|CA-1004|2023-03-01| Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|
|CA-1005|2023-02-05| Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+

Filter Segment = 'Consumer' and Profit < 1000 .

In [26]:
df.filter((df['Segment']=='Consumer')&(df['Profit']<1000)).show()

+-------+----------+------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|OrderID| OrderDate|Client| Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|
+-------+----------+------+--------+------+--------+---------------+-----------+--------+---------+--------+------+
|CA-1003|2023-01-25|  Amit|Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|
+-------+----------+------+--------+------+--------+---------------+-----------+--------+---------+--------+------+

GroupBy Region and show average profit.

In [27]:
df.groupBy('Region').avg('Profit').show()

+------+-----------+
|Region|avg(Profit)|
+------+-----------+
| South|     4000.0|
|  East|      150.0|
|  West|    -1500.0|
| North|     1800.0|
+------+-----------+

Use withColumn to create TotalPrice = Quantity * UnitPrice

In [29]:
df = df.withColumn('TotalPrice',df['Quantity']*df['UnitPrice'])
df.show()

+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+
|OrderID| OrderDate|Client|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|TotalPrice|
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+
|CA-1001|2023-01-15|  Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|     55000|
|CA-1002|2023-02-20| Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|     24000|
|CA-1003|2023-01-25|  Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|       600|
|CA-1004|2023-03-01| Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|     18000|
|CA-1005|2023-02-05| Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|     40000|
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+

Use when().otherwise() to classify Profit as:
'Profit' > 2000 â†’ 'High'
'Profit' <= 0 â†’ 'Loss'
else 'Medium'

In [30]:
from pyspark.sql.functions import when
df = df.withColumn('ProfitAnlaysis',when(df['Profit']>2000,'High').when(df['Profit']<=0,'Loss').otherwise('Medium'))
df.show()

+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+--------------+
|OrderID| OrderDate|Client|    Segment|Region| Product|       Category|SubCategory|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitAnlaysis|
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+--------------+
|CA-1001|2023-01-15|  Ravi|   Consumer| South|  Laptop|     Technology|  Computers|       1|    55000|     0.1|  5000|     55000|          High|
|CA-1002|2023-02-20| Priya|  Corporate| North| Printer|     Technology|Peripherals|       2|    12000|    0.15|  1800|     24000|        Medium|
|CA-1003|2023-01-25|  Amit|   Consumer|  East|Notebook|Office Supplies|      Paper|       3|      200|    0.05|   150|       600|        Medium|
|CA-1004|2023-03-01| Anita|Home Office|  West|   Table|      Furniture|     Tables|       1|    18000|     0.2| -1500|     18000|          Loss|
|CA-1005|2023-02-05| Divya|   Consumer| South|   Phone|     Technology|     Phones|       2|    20000|     0.0|  3000|     40000|          High|
+-------+----------+------+-----------+------+--------+---------------+-----------+--------+---------+--------+------+----------+--------------+

Use drop() to remove SubCategory .

In [31]:
df = df.drop('SubCategory')
df.show()

+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|OrderID| OrderDate|Client|    Segment|Region| Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitAnlaysis|
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|CA-1001|2023-01-15|  Ravi|   Consumer| South|  Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|          High|
|CA-1002|2023-02-20| Priya|  Corporate| North| Printer|     Technology|       2|    12000|    0.15|  1800|     24000|        Medium|
|CA-1003|2023-01-25|  Amit|   Consumer|  East|Notebook|Office Supplies|       3|      200|    0.05|   150|       600|        Medium|
|CA-1004|2023-03-01| Anita|Home Office|  West|   Table|      Furniture|       1|    18000|     0.2| -1500|     18000|          Loss|
|CA-1005|2023-02-05| Divya|   Consumer| South|   Phone|     Technology|       2|    20000|     0.0|  3000|     40000|          High|
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+

Handle nulls in Discount using fillna(0.10)

In [34]:
df = df.fillna({'Discount':0.10})
df.show()

+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|OrderID| OrderDate|Client|    Segment|Region| Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitAnlaysis|
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+
|CA-1001|2023-01-15|  Ravi|   Consumer| South|  Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|          High|
|CA-1002|2023-02-20| Priya|  Corporate| North| Printer|     Technology|       2|    12000|    0.15|  1800|     24000|        Medium|
|CA-1003|2023-01-25|  Amit|   Consumer|  East|Notebook|Office Supplies|       3|      200|    0.05|   150|       600|        Medium|
|CA-1004|2023-03-01| Anita|Home Office|  West|   Table|      Furniture|       1|    18000|     0.2| -1500|     18000|          Loss|
|CA-1005|2023-02-05| Divya|   Consumer| South|   Phone|     Technology|       2|    20000|     0.0|  3000|     40000|          High|
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+

Convert OrderDate to date type and extract year , month

In [36]:
from pyspark.sql.functions import to_date,year,month
df = df.withColumn('OrderDate',to_date(df['OrderDate'],'yyyy-MM-dd'))
df = df.withColumn('year',year('OrderDate')).withColumn('month',month('OrderDate'))
df.select('OrderDate','year','month').show()

+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+----+-----+
|OrderID| OrderDate|Client|    Segment|Region| Product|       Category|Quantity|UnitPrice|Discount|Profit|TotalPrice|ProfitAnlaysis|year|month|
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+----+-----+
|CA-1001|2023-01-15|  Ravi|   Consumer| South|  Laptop|     Technology|       1|    55000|     0.1|  5000|     55000|          High|2023|    1|
|CA-1002|2023-02-20| Priya|  Corporate| North| Printer|     Technology|       2|    12000|    0.15|  1800|     24000|        Medium|2023|    2|
|CA-1003|2023-01-25|  Amit|   Consumer|  East|Notebook|Office Supplies|       3|      200|    0.05|   150|       600|        Medium|2023|    1|
|CA-1004|2023-03-01| Anita|Home Office|  West|   Table|      Furniture|       1|    18000|     0.2| -1500|     18000|          Loss|2023|    3|
|CA-1005|2023-02-05| Divya|   Consumer| South|   Phone|     Technology|       2|    20000|     0.0|  3000|     40000|          High|2023|    2|
+-------+----------+------+-----------+------+--------+---------------+--------+---------+--------+------+----------+--------------+----+-----+

+----------+----+-----+
| OrderDate|year|month|
+----------+----+-----+
|2023-01-15|2023|    1|
|2023-02-20|2023|    2|
|2023-01-25|2023|    1|
|2023-03-01|2023|    3|
|2023-02-05|2023|    2|
+----------+----+-----+

# DASK

Load the same superstore.csv

In [39]:
import dask.dataframe as dd
df = dd.read_csv('superstore.csv')
df = df.compute()
print(df)

   OrderID   OrderDate Customer      Segment Region   Product  \
0  CA-1001  2023-01-15     Ravi     Consumer  South    Laptop
1  CA-1002  2023-02-20    Priya    Corporate  North   Printer
2  CA-1003  2023-01-25     Amit     Consumer   East  Notebook
3  CA-1004  2023-03-01    Anita  Home Office   West     Table
4  CA-1005  2023-02-05    Divya     Consumer  South     Phone

          Category  SubCategory  Quantity  UnitPrice  Discount  Profit
0       Technology    Computers         1      55000      0.10    5000
1       Technology  Peripherals         2      12000      0.15    1800
2  Office Supplies        Paper         3        200      0.05     150
3        Furniture       Tables         1      18000      0.20   -1500
4       Technology       Phones         2      20000      0.00    3000

Compute average discount by category.

In [42]:
grouped = df.groupby('Category')['Discount'].mean()
print(grouped)

Category
Furniture          0.200000
Office Supplies    0.050000
Technology         0.083333
Name: Discount, dtype: float64

Filter orders with more than 1 quantity and high profit.

In [43]:
filtered = df[(df['Quantity']>1)&(df['Profit']>2000)]
print(filtered)

   OrderID   OrderDate Customer   Segment Region Product    Category  \
4  CA-1005  2023-02-05    Divya  Consumer  South   Phone  Technology

  SubCategory  Quantity  UnitPrice  Discount  Profit
4      Phones         2      20000       0.0    3000

Save filtered data to new CSV.

In [44]:
filtered.to_csv('filtereddata.csv',index = False)

In [45]:
!ls

filtereddata.csv  sample_data  superstore.csv

# JSON

In [47]:
import json

data = [
{
"OrderID": "CA-1001",
"Customer": {"Name": "Ravi", "Segment": "Consumer"},
"Details": {"Region": "South", "Profit": 5000}
},
{
"OrderID": "CA-1002",
"Customer": {"Name": "Priya", "Segment": "Corporate"},
"Details": {"Region": "North", "Profit": 1800}
}
]

with open('orders.json','w')as file:
  json.dump(data,file,indent= 5)

In [48]:
df_json = spark.read.json('orders.json', multiLine=True)
df_json.printSchema()
df_json.select("OrderID", "Customer.Name", "Details.Profit").show()

root
 |-- Customer: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Segment: string (nullable = true)
 |-- Details: struct (nullable = true)
 |    |-- Profit: long (nullable = true)
 |    |-- Region: string (nullable = true)
 |-- OrderID: string (nullable = true)

+-------+-----+------+
|OrderID| Name|Profit|
+-------+-----+------+
|CA-1001| Ravi|  5000|
|CA-1002|Priya|  1800|
+-------+-----+------+