#DATA STRUCTURES

In [15]:
students = [
["Ravi", [85, 72, 90]],
["Sneha", [95, 88, 92]],
["Kabir", [65, 70, 60]],
["Anita", [75, 80, 78]]
]

Print Raviâ€™s second mark.

In [16]:
print("RAVIS SECOND MARK: ",students[0][1][1])

RAVIS SECOND MARK:  72

Calculate average mark for each student.

In [17]:
for name,mark in students:
  avg = sum(mark)/len(mark)
  print(f"Name: {avg}")

Name: 82.33333333333333
Name: 91.66666666666667
Name: 65.0
Name: 77.66666666666667

Print the name of students who scored above 80 in all subjects.

In [18]:
for name,marks in students:
  if all(mark > 80 for mark in marks):
    print(name)

Sneha

Create a new list of [name, average]

In [21]:
avg_list = [[name, sum(marks)/len(marks)] for name, marks in students]
students.append(avg_list)
print(students)

[['Ravi', [85, 72, 90]], ['Sneha', [95, 88, 92]], ['Kabir', [65, 70, 60]], ['Anita', [75, 80, 78]], [['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]]

#DICTIONARY

In [22]:
data = {
"products": ["Mobile", "Laptop", "Tablet", "Camera"],
"prices": [12000, 55000, 18000, 25000],
"ratings": [4.5, 4.7, 4.0, 4.2]
}

Create a list of dictionaries for each product:

In [23]:
product = [{'name':data['products'][i],'Price':data['prices'][i],'rating':data['ratings'][i]}
           for i in range(len(data['products']))]

print(product)

[{'name': 'Mobile', 'Price': 12000, 'rating': 4.5}, {'name': 'Laptop', 'Price': 55000, 'rating': 4.7}, {'name': 'Tablet', 'Price': 18000, 'rating': 4.0}, {'name': 'Camera', 'Price': 25000, 'rating': 4.2}]

Filter and print products with price >20,000 and rating >= 4.5

In [26]:
filtered = [p for p in product
            if p['Price']>20000 and p['rating']>=4.5]
print(filtered)

[{'name': 'Laptop', 'Price': 55000, 'rating': 4.7}]

Sort the product list by rating (descending)

In [27]:
sorted = sorted(product,key = lambda x: x['rating'],reverse=True)
print(sorted)

[{'name': 'Laptop', 'Price': 55000, 'rating': 4.7}, {'name': 'Mobile', 'Price': 12000, 'rating': 4.5}, {'name': 'Camera', 'Price': 25000, 'rating': 4.2}, {'name': 'Tablet', 'Price': 18000, 'rating': 4.0}]

#SET

In [37]:
text = "ai is the future and ai will change everything in the ai world"

Count frequency of each word using a dictionary

In [46]:
words = text.split()
freq ={}
for word in words:
  freq[word]=freq.get(word,0)+1
print(freq)

{'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}

Print only the words that appear more than once

In [47]:
repeated ={word:count for word,count in freq.items() if count>1}
print(repeated)

{'ai': 3, 'the': 2}

Convert words into a set and print sorted unique words

In [58]:
unique = sorted(set(words))
print(unique)

['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

Find common words between:
set1 = set(text.split())
set2 = {"ai", "ml", "data", "future"}

In [59]:
set1 = set(text.split())
set2 = {"ai", "ml", "data", "future"}

In [61]:
common_words = set1.intersection(set2)
print(common_words)

{'future', 'ai'}

#Dictionary Comprehension + Conditional Logic

In [62]:
sales = {
'Amit': 70000,
'Sneha': 45000,
'Ravi': 30000,
'Anita': 90000,
'Kabir': 20000
}

Create a new dictionary with 10% bonus added to each sale

In [64]:
bonus = {name:amount+(amount*0.10)for name,amount in sales.items()}
print(bonus)

{'Amit': 77000.0, 'Sneha': 49500.0, 'Ravi': 33000.0, 'Anita': 99000.0, 'Kabir': 22000.0}

Filter and return only those with sales >
50,000

In [65]:
filteres = {name:amount for name,amount in sales.items() if amount>50000}
print(filteres)

{'Amit': 70000, 'Anita': 90000}

Label each person as 'High' , 'Medium' , or 'Low'

In [66]:
labels = {name:('High' if amount >=75000 else 'Medium' if amount>=40000 else 'Low') for name, amount in sales.items()}
print(labels)

{'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

#Tuples, Sets, and Zipping

In [67]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

Convert both tuples to a dictionary using zip()

In [68]:
result = dict(zip(names,marks))
print(result)

{'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

Find min and max marks

In [70]:
print('MINIMUM: ',min(marks))
print('MAXIMUM: ',max(marks))

MINIMUM:  76
MAXIMUM:  92

Create a set from marks and add a new value

In [71]:
mark_set = set(marks)
mark_set.add(100)
print(mark_set)

{88, 100, 92, 76}

Merge two sets and show only unique elements

In [72]:
extra = {85,100,75}
merged = mark_set.union(extra)
print(merged)

{100, 85, 88, 75, 92, 76}

#Bonus Challenge

In [77]:
employees = {
"E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
"E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
"E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

Add a new employee "E104"

In [78]:
employees['E104']={'name':'Hari','dept':'Engineering','salary':90000}
print(employees)

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Hari', 'dept': 'Engineering', 'salary': 90000}}

Increase salary by 10% for Engineering department only

In [79]:
for emp in employees.values():
  if emp['dept']=='Engineering':
    emp['salary']=emp['salary']*1.10
print(employees)

{'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000.0}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Hari', 'dept': 'Engineering', 'salary': 99000.00000000001}}

Find the department with the highest average salary

In [80]:
from collections import defaultdict

dept_salaries = defaultdict(list)

for emp in employees.values():
  dept_salaries[emp['dept']].append(emp['salary'])

avg_salary = {dept:sum(salaries)/len(salaries)for dept,salaries in dept_salaries.items()}

max_dept = max(avg_salary , key = avg_salary.get)

print(max_dept)

Engineering