In [0]:
print('Hello world!')

Hello world!

In [0]:
data = [
    ("P001", "Notebook", 3, 45000),
    ("P002", "Keyboard", 2, 7000),
    ("P003", "Mouse", 5, 4000),
    ("P004", "Monitor", 1, 15000),
    ("P005", "Chair", 4, 8000)
]
columns = ["product_id", "product_name", "quantity", "price"]
df = spark.createDataFrame(data, columns)
df.show()

+----------+------------+--------+-----+
|product_id|product_name|quantity|price|
+----------+------------+--------+-----+
|      P001|    Notebook|       3|45000|
|      P002|    Keyboard|       2| 7000|
|      P003|       Mouse|       5| 4000|
|      P004|     Monitor|       1|15000|
|      P005|       Chair|       4| 8000|
+----------+------------+--------+-----+

Count total Products

In [0]:
df.count()

5

Claculate and display total revenue for each product

In [0]:
from pyspark.sql.functions import col

df_with_revenue = df.withColumn("revenue", col("quantity") * col("price"))
df_with_revenue.show()

+----------+------------+--------+-----+-------+
|product_id|product_name|quantity|price|revenue|
+----------+------------+--------+-----+-------+
|      P001|    Notebook|       3|45000| 135000|
|      P002|    Keyboard|       2| 7000|  14000|
|      P003|       Mouse|       5| 4000|  20000|
|      P004|     Monitor|       1|15000|  15000|
|      P005|       Chair|       4| 8000|  32000|
+----------+------------+--------+-----+-------+

Filter Products with Price > 10000

In [0]:
df.filter(col("price") > 10000).show()

+----------+------------+--------+-----+
|product_id|product_name|quantity|price|
+----------+------------+--------+-----+
|      P001|    Notebook|       3|45000|
|      P004|     Monitor|       1|15000|
+----------+------------+--------+-----+

# EXERCISE

In [0]:
data = [
    ("E101", "Amit", "Sales", 10, 1200),
    ("E102", "Sneha", "Marketing", 8, 1500),
    ("E103", "Ravi", "Sales", 12, 1300),
    ("E104", "Anjali", "HR", 7, 1100),
    ("E105", "Raj", "Sales", 5, 1000)
]
columns = ["EmpID", "Name", "Department", "UnitsSold", "UnitPrice"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+------+----------+---------+---------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|
+-----+------+----------+---------+---------+
| E101|  Amit|     Sales|       10|     1200|
| E102| Sneha| Marketing|        8|     1500|
| E103|  Ravi|     Sales|       12|     1300|
| E104|Anjali|        HR|        7|     1100|
| E105|   Raj|     Sales|        5|     1000|
+-----+------+----------+---------+---------+

TOTAL NO.OF EMPLOYEES

In [0]:
print('TOTAL NO.OF EMPLOYEES: ', df.count())

TOTAL NO.OF EMPLOYEES:  5

ADD A NEW COLUMN TOTAL SALES

In [0]:
df_new = df.withColumn("TotalSales",col("UnitsSold")*col("UnitPrice"))
df_new.show()

+-----+------+----------+---------+---------+----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+------+----------+---------+---------+----------+
| E101|  Amit|     Sales|       10|     1200|     12000|
| E102| Sneha| Marketing|        8|     1500|     12000|
| E103|  Ravi|     Sales|       12|     1300|     15600|
| E104|Anjali|        HR|        7|     1100|      7700|
| E105|   Raj|     Sales|        5|     1000|      5000|
+-----+------+----------+---------+---------+----------+

SALES DEPT EMPLOYESS WITH TOTALSALES > 12000

In [0]:
df_sales = df_new.filter((col("Department")=="Sales")&(col("TotalSales")>12000))
df_sales.show()

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
| E103|Ravi|     Sales|       12|     1300|     15600|
+-----+----+----------+---------+---------+----------+

EMPLOYEES WITH HIGHEST TOTAL SALES

In [0]:
top_employee = df_new.orderBy(col("TotalSales").desc()).limit(1)
top_employee.show()

+-----+----+----------+---------+---------+----------+
|EmpID|Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+----+----------+---------+---------+----------+
| E103|Ravi|     Sales|       12|     1300|     15600|
+-----+----+----------+---------+---------+----------+

SORT EMPLOYEES BY TOTAL SALES IN DESC ORDER

In [0]:
df_sorted = df_new.orderBy(col("TotalSales").desc())
df_sorted.show()

+-----+------+----------+---------+---------+----------+
|EmpID|  Name|Department|UnitsSold|UnitPrice|TotalSales|
+-----+------+----------+---------+---------+----------+
| E103|  Ravi|     Sales|       12|     1300|     15600|
| E101|  Amit|     Sales|       10|     1200|     12000|
| E102| Sneha| Marketing|        8|     1500|     12000|
| E104|Anjali|        HR|        7|     1100|      7700|
| E105|   Raj|     Sales|        5|     1000|      5000|
+-----+------+----------+---------+---------+----------+