In [1]:
!pip install delta-spark==3.2.0 -q
import pyspark
from delta import *
from pyspark.sql.functions import *

# Create a SparkSession with Delta Lake extensions
# The '.config(...)' lines are crucial for enabling Delta Lake's features
builder = pyspark.sql.SparkSession.builder.appName("DeltaTutorial") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

# Get or create the SparkSession
spark = configure_spark_with_delta_pip(builder).getOrCreate()

print("Spark and Delta Lake are ready!")

Spark and Delta Lake are ready!

In [2]:
data = {("amit",28),("priya",32),("rahul",25)}
df = spark.createDataFrame(data,["name","age"])
df.write.format("delta").saveAsTable("managed_people")

spark.sql("select * from managed_people").show()

location = spark.sql("describe detail managed_people").collect()[0]['location']
print("managed table location: ", location)

+-----+---+
| name|age|
+-----+---+
|priya| 32|
| amit| 28|
|rahul| 25|
+-----+---+

managed table location:  file:/content/spark-warehouse/managed_people

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
file_path = '/content/drive/My Drive/data engineering/students.csv'
df_csv = spark.read.option("header",True).option("inferSchema",True).csv(file_path)
df_csv.show()

+-----+----+-------+-------+
| Name|Math|Science|English|
+-----+----+-------+-------+
| Amit|  78|     85|     74|
|Priya|  92|     89|     96|
|Kiran|  65|     70|     60|
|Anita|  88|     95|     90|
| Ravi|  55|     60|     58|
+-----+----+-------+-------+

In [5]:
df_csv.write.format("delta").saveAsTable("students_table")

spark.sql("select * from students_table").show()

+-----+----+-------+-------+
| Name|Math|Science|English|
+-----+----+-------+-------+
| Amit|  78|     85|     74|
|Priya|  92|     89|     96|
|Kiran|  65|     70|     60|
|Anita|  88|     95|     90|
| Ravi|  55|     60|     58|
+-----+----+-------+-------+

In [6]:
location = spark.sql("describe detail students_table").collect()[0]['location']
print("managed table location: ", location)

managed table location:  file:/content/spark-warehouse/students_table

In [7]:
spark.sql(""" DROP TABLE  students_table""")

DataFrame[]

In [10]:
!ls "/content/drive/My Drive/data engineering/students.csv"

'/content/drive/My Drive/data engineering/students.csv'

THIS SHOWS THAT EVEN AFTER DROPPING TABLE. I STILL HAVE THE FILE IN GOOGLE DRIVE.!-- UNMANAGED TABLE